/* src/index.css */
body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #879599;
}
html {
  font-size: clamp(14px, 1.2vw, 18px);
}
